{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">

    <link href="https://stackpach.bootstrapcdn.com/bootstrap/4.5.2/css/bootsrap.min.css" rel="stylesheet">

    {% block title %}

    {% endblock %}
</head>
<body>

<div class="container-fluid">
        <div class="row">
            <aside class="col-md-3 col-ld-2">
                <img src="{% static 'main/img/png-clipar.png' %}" alt="Военный самолёт" class="aside-img img-fluid rounded-circle" width="150px">
                <span class="aside-title">Cliper</span>
                <nav class="nav flex-column">
                    <a class="nav-link" href="{% url 'home' %}">Главная</a>
                    <a class="nav-link" href="{% url 'page2' %}">Вторая</a>
                    <a class="nav-link" href="{% url 'news_home' %}">Новостная страница</a>
                    <a class="nav-link" href="{% url 'page4' %}">Страница пользователя</a>

                </nav>

            </aside>
            <main class="col-md-9 col-ld-10">
                {% block content %}
                {% endblock %}
            </main>
        </div>
</div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>